[Desktop Entry]
Type=Application
Name=Aurora Installer Window
Comment=Handles the installer's header buttons
Exec=/usr/libexec/aurora-installer-window %u
NoDisplay=true
MimeType=x-scheme-handler/aurora-installer;
