[Desktop Entry]
Name=Screenshot
Comment=Capture the whole screen or an area (Print / Shift+Print)
Exec=aurora-shell screenshot area
Icon=applets-screenshooter
Terminal=false
Type=Application
Categories=Utility;Graphics;
Keywords=screenshot;capture;snip;print;screen;
Actions=full;

[Desktop Action full]
Name=Capture the Whole Screen
Exec=aurora-shell screenshot
