[Desktop Entry]
Name=Install Aurora OS
Comment=Install Aurora OS on this computer
Exec=aurora-installer
Icon=aurora-logo
Terminal=false
Type=Application
Categories=System;
Keywords=install;installer;setup;calamares;
StartupNotify=true
