[Desktop Entry]
Name=Install Aurora OS
Comment=Install Aurora OS on this computer
Exec=aurora-installer
Icon=aurora-logo
Type=Application
NoDisplay=true
Categories=System;
