[Desktop Entry]
Name=Migrate from Windows
Comment=Bring your documents, pictures, music, bookmarks and background over from a Windows installation
Keywords=windows;migrate;migration;import;transfer;move;files;dual boot;bookmarks;
Exec=aurora-migrate
Icon=org.aurora.Migrate
Type=Application
Categories=System;
StartupNotify=true
