[Desktop Entry]
Name=Quick Look
Comment=Preview files without opening them
Exec=aurora-quicklook %f
Icon=org.gnome.Loupe
Type=Application
NoDisplay=true
Categories=Utility;
