[Desktop Entry]
Name=Welcome
Comment=Get started with Aurora OS
Exec=aurora-welcome
Icon=aurora-logo
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
NoDisplay=false
StartupNotify=true
