[Desktop Entry]
Name=Task Manager
Comment=See what's running, end tasks, and watch the computer's performance
Keywords=process;kill;end;task;performance;cpu;memory;startup;services;system monitor;
Exec=aurora-taskmanager
Icon=utilities-system-monitor
Type=Application
Categories=System;Monitor;
StartupNotify=true
