[Desktop Entry]
Name=Game Hub
Comment=Steam, Epic and GOG games, Windows apps with Bottles, Android apps with Waydroid
Exec=aurora-gamehub
Icon=aurora-gamehub
Terminal=false
Type=Application
Categories=Game;
Keywords=games;steam;proton;wine;windows;android;waydroid;heroic;epic;gog;lutris;bottles;
StartupNotify=true
