[Desktop Entry]
Name=Aurora Assistant
Comment=Ask questions, summarize, rewrite and translate with AI that runs on your computer
Exec=aurora-assistant
Icon=aurora-assistant
Terminal=false
Type=Application
Categories=Utility;
Keywords=ai;assistant;chat;llm;ask;summarize;translate;rewrite;
StartupNotify=true
